.form {
    border: 1px solid;
    padding: 5px 10px;
  }
.form_name, .form_number {
  display: flex;
  flex-direction: column;
}
.form_name input, .form_number input {
  width: 180px;
  margin-top: 10px;
}
.form_name, .form_number {
   padding: 10px 0;
}
.btn {
  composes: btn from 'main.css';
}
